mixin filter
    .filter__content.flex-center
        .filter__content-filter
            +filter-box
            .filter__content-results
                p Showing 1–16 of 32 results
        .filter__content-sort.flex
            +sort-box