mixin shop
    section.shop.section.p-0
        .shop__container.container
            +page-main('Shop')
    section.filters.section
        .filters__container.container
            +filter
    section.products.section
        .products__container.container
            +product-cart
            .products__btns
                +pagBtns
    section.guarantee.section
        .guarantee__container.container
            +guarantee
