include _nav.pug
include _header.pug
include home/_home.pug
include shop/_shop.pug
include shop/_filter.pug
include shop/_product-cart.pug
include shop/_filter-box.pug
include contact/_contact.pug
include home/_boxes.pug
include _nav-controll.pug
include _cols.pug
include _page-main.pug
include _guarantee.pug