- var navItems = [{'Home':'index.html'}, {'Shop':'shop.html'}, {'About':'about.html'}, {'Contact': 'contact.html'}]

mixin nav(activePage='Home', classes='nav', items= navItems)
    nav.nav.flex
        ul.nav-menu.flex
            each item in items
                li.nav-item
                    each href, value in item
                        a.nav-link(
                            href= href
                            class=(value === activePage ? "active" : ''))= value
        +nav-controll()