$grey: #9F9F9F;
$grey-light: #D9D9D9;
$beige: #FBEBB5;
$beige-pink: #FAF4F4;
$beige-pink-alt: rgba(250, 244, 244, 0.5);
$beige-light: #FFF9E5;
$beige-dark: #cdba7b;
$black: #000;
$black-alt: rgba(0,0,0,0.2);
$white: #fff;
$yellow: rgba(251, 235, 181, 1);
$yellow-dark: #b88e2f;
$violet: #816dfa;
$red: #ff0000;