@import "./colors.scss";
@import "./reset.scss";

.header {
  background-color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  .nav {
    padding: 2.375rem;
    justify-content: center;
    font-weight: 500;
    &-menu {
      gap: 4.688rem;
    }
    &-controll {
      gap: 2.813rem;
      position: absolute;
      right: 6.25rem;
      cursor: pointer;
    }
    &-link:hover {
      color: $yellow-dark;
      transition: all 0.4s;
    }
    &__toggle {
      display: none;
      font-size: 1.25rem;
      cursor: pointer;
      transition: all .4s;
      &:hover {
        color: $yellow-dark;
      }
    }
    &__close {
      position: absolute;
      top: -100%;
      left: 20px;
      font-size: 1.25rem;
      cursor: pointer;
      transition: all .4s;
      &:hover {
        color: $yellow-dark;
      }
    }
  }
}



.home {
  background-color: $yellow;
  &__container {
    grid-template-columns: repeat(2, 1fr);
  }
  &__content {
    display: flex;
    padding-left: 15rem;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  &__title {
    font-weight: 500;
    font-size: clamp(2rem, 1.429rem + 2.86vw, 4rem);
    line-height: clamp(4rem, 3.429rem + 2.86vw, 6rem);
  }
}
.home-table {
  background-color: $beige-pink;
  &__box-title {
    font-size: clamp(1.55rem, 1.35rem + 1vw, 2.25rem);
    font-weight: 500;
    line-height: 3.375rem;
  }
  &__box {
    padding-left: 8rem;
  }
  &__box-content {
    margin-bottom: 2rem;
  }
  &__box-img img {
    width: 450px;
    height: 380px;
  }
}

.home-top {
    &__content {
        text-align: center;
        &-bx {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
        }
    }
  &__heading {
    padding-bottom: 4rem;
  }
  &__box-title {
    font-weight: 400;
    line-height: 2rem;
    width: 212px;
  }
  &__box-price {
    font-weight: 500;
    line-height: clamp(1.55rem, 1.35rem + 1vw, 2.25rem);
    font-size: clamp(1.55rem, 1.421rem + 0.64vw, 2rem);
    padding-top: 0.75rem;
  }
  &__btn {
    margin: 4.313rem 0 3.188rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
    cursor: pointer;
  }
}
.arrival {
    padding: 0;
    background-color: $beige-light;
    &__content {
        grid-template-columns: repeat(2, auto);
        gap: clamp(3rem, 2.429rem + 2.86vw, 5rem);
    }
    .arrival__content-text {
        flex-direction: column;
        margin-bottom: 3rem;
        &__title {
            font-size: clamp(1rem, 0.714rem + 1.43vw, 2rem);
            font-weight: 500;
            line-height: clamp(1rem, 0.643rem + 1.79vw, 2.25rem);
        }
        &__name {
            font-size: clamp(2rem, 1.714rem + 1.43vw, 3rem);
            font-weight: 700;
            line-height: clamp(3rem, 2.571rem + 2.14vw, 4.5rem);
        }
        &__btn {
            display: inline-block;
            margin-top: clamp(1.5rem, 1.339rem + 0.8vw, 2.063rem);
            border: 1px solid #000;
            padding: 1.063rem 4.688rem;
            cursor: pointer;
            &:hover {
                color: $yellow-dark;
                border: 1px solid $yellow-dark;
                transition: all .4s;
            }
        }
    }
}
.blog {
    &__content {
        text-align: center;
        &-heading {
            margin-bottom: 4.063rem;
        }
        &-list {
          grid-template-columns: repeat(3, 1fr);
            gap: 1.875rem;
        }
        &-box__title {
            margin-top: 2.063rem;
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.875rem;
        }
        &-box__time {
            font-weight: 300;
            line-height: 1.5rem;
            gap: clamp(0.5rem, 0.286rem + 1.07vw, 1.25rem);
            margin-top: 1.25rem;
            p {
                display: inline;
                padding-left: 0.625rem;
            }
        }
        &-btn {
            font-size: 1.25rem;
            line-height: 1.875rem;
            margin-top: 4.688rem;
        }
    }
    }
.inst {
    padding: 7.75rem 0;
    text-align: center;
    background-image: url('../images/inst.png');
    &__content {
        &-title {
            font-size: clamp(2.5rem, 2.143rem + 1.79vw, 3.75rem);
            font-weight: 700;
            line-height: clamp(2.45rem, 1.543rem + 4.54vw, 5.625rem);
        }
        &-text, &-btn {
            font-size: 1.25rem;
            line-height: 1.875rem;
        }
        &-btn {
            display: inline-block;
            background-color: $beige-pink;
            padding: 17px 82px;
            border-radius: 50px;
            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
            margin-top: 1.125rem;
            transition: all .4s;
            cursor: pointer;
            &:hover {
                background-color: $beige-dark;
            }
        }
    }
}

.footer {
  &__content {
    gap: clamp(3.5rem, -9.731rem + 20.67vw, 8.875rem);
    padding-bottom: 3.25rem;
    align-items: center;
    &-help__cols {
      display: flex;
      gap: clamp(4rem, 2.589rem + 7.05vw, 8.938rem);
    }
    &-address {
      color: $grey;
      line-height: 1.5rem;
    }
    &-list {
      flex-direction: column;
      gap: 3.625rem;
      li:first-child a{
        color: $grey;
        padding-bottom: 3.75rem;
      }
      a {
        font-weight: 500;
        &:hover {
          color: $yellow-dark;
          text-decoration: underline;
        }
      }
    }
  }
  &__form {
    &-title {
      font-weight: 500;
      color: $grey;
      padding-bottom: 3.938rem;
    }
    &-controlls {
      &__input {
        border-bottom: 1px solid $black;
        padding: 7px;
        color: $black;
      }
      &__submit {
        display: inline-block;
        margin-left: 11px;
        cursor: pointer;
        color: $black;
        text-transform: uppercase;
        padding: 7px;
        border-bottom: 1px solid $black;
        transition: all .4s;
        &:hover {
          color: $yellow-dark;
          border-color: $yellow-dark;
        }
      }
    }
  }
  &__copyright p {
    border-top: 1px solid $grey-light;
    padding-top: 2.5rem;
  }
}

.mainh-page {
  &__content {
    flex-direction: column;
  }
  &__title h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 4.5rem;
  }
  &__desc {
    line-height: 2.5rem;
    font-weight: 500;
    span {
      font-weight: 300;
    }
  }
}
.p-0 {
  padding-top: 0;
  background-image: url('../images/shop-home.png');
  height: 316px;
}

.filters {
  background-color: $beige-pink;
  padding-top: 0;
  padding-bottom: 0;
}
.filter__content {
  gap: clamp(2rem, -25.857rem + 34.29vw, 5rem);
  justify-content: space-between;
  padding: 35px clamp(4.688rem, 4.277rem + 2.05vw, 6.125rem);
  .filter__content-filter {
    display: flex;
    gap: 2rem;
    align-items: center;
    .filter__box-list {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  &-sort {
    gap: 30px;
  }
  &-results {
    border-left: 2px solid $grey;
    padding-left: 2rem;
  }
  p {
    line-height: 1;
  }
}

.sort__box-input {
  background-color: $white;
  padding: 12px 18px;
  margin-left: 17px;
  color: $black;
}
.inp-num {
  width: 75px;
}






@import './responsive.scss'