@import './colors.scss';
@import './reset.scss';

.header {
    background-color: inherit;
}

.Home {
    background-color: $yellow;
}

.nav {
    position: relative;
    padding: 2.375rem;
    justify-content: center;
    font-weight: 500;
    .nav-menu {
        gap: 4.688rem;
    }
    .nav-controll {
        gap: 2.813rem;
        position: absolute;
        right: 6.25rem;
        cursor: pointer;
    }
    .nav-link:hover {
        color: $yellow-dark;
        transition: all .4s;
    }
}