mixin header(page='Home')
    header.header.container
        if block
            block
        else
            +navbar
                +navbar-brand('Content')
                +nav(page, 'navbar-nav flex-row')